
<div class="feed">
 <div class="container">
    <div class="profile-tabs">
      <!--==小目录==-->
      <div class="pills-position">
        <ul class="nav nav-pills nav-pills-info pull-right" role="tablist">
          <li class="active">
            <a href="#june" role="tab" data-toggle="tab">
              <i>六月主题</i>
              JUNE
            </a>
          </li>
          <li>
            <a href="#may" role="tab" data-toggle="tab">
              <i>五月主题</i>
              MAY
            </a>
          </li>
        </ul>
        </div>
        <!--==下半部分的具体内容==-->

        <div class="tab-content feedback-content">
       <!-- 六月主题 -->
          <div class="tab-pane active" id="june">
            <div class="row ">
                <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fggfi8pfsvj311w1pb1ar.jpg" width="110%" alt="/">
            </div>
          </div>
        <!-- 五月主题 -->
          <div class="tab-pane" id="may">
            <div class="row">
               <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fggfi7c5dij312g2e8amf.jpg" width="110%" alt="">
            </div>
          </div>
            </div>
          </div>
      </div>
    </div>
