<div class="container-fluid">
  <div class="row">
     <div align="center">
       <!-- 六月主题 -->
       <img class="huodong" src="https://ws4.sinaimg.cn/large/006tNbRwgy1fgdoiddc72j31jk0ryte6.jpg" alt="">
       <img class="huodong" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgdpy2k92nj31jk0hyn3l.jpg" alt="">
       <img class="huodong" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgdpz3spspj31jk0h5q6o.jpg" alt="">
        <!-- 五月主题 -->
       <img class="huodong" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgdq3k5erfj31jk0uptel.jpg" alt="">
       <img class="huodong" src="https://ws2.sinaimg.cn/large/006tNbRwgy1fgdq3z5vccj31jk0bh41g.jpg" alt="">
       <img class="huodong" src="https://ws4.sinaimg.cn/large/006tNbRwgy1fgdq4ghttfj31jk0wlwkj.jpg" alt="">
       <img class="huodong" src="https://ws1.sinaimg.cn/large/006tNbRwgy1fgdq4vofa4j31jk0ddadd.jpg" alt="">
      </div>
    </div>
  </div>
</div>
