
<div class="feed">
 <div class="container">
  <div class="row">
    <div class="col-md-12 col-centered">
    <div class="profile-tabs">
      <!--==小目录==-->
      <div class="pills-position">
        <ul class="nav nav-pills nav-pills-info pull-right" role="tablist">
          <li class="active">
            <a href="#june" role="tab" data-toggle="tab">
              <i>六月主题</i>
              JUNE
            </a>
          </li>
          <li>
            <a href="#may" role="tab" data-toggle="tab">
              <i>五月主题</i>
              MAY
            </a>
          </li>
        </ul>
        </div>
        <!--==下半部分的具体内容==-->

        <div class="tab-content feedback-content">
       <!-- 六月主题 -->
          <div class="tab-pane active" id="june">
            <div class="row ">
                <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fgdoiddc72j31jk0ryte6.jpg" alt="/">
                <img src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgdpy2k92nj31jk0hyn3l.jpg" alt="/">
                <img src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgdpz3spspj31jk0h5q6o.jpg" alt="/">
            </div>
          </div>
        <!-- 五月主题 -->
          <div class="tab-pane" id="may">
            <div class="row">
               <img src="https://ws1.sinaimg.cn/large/006tNc79gy1fgdubwkphbj31jk0s7dle.jpg" alt="">
               <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fgdq3z5vccj31jk0bh41g.jpg" alt="">
               <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fgdq4ghttfj31jk0wlwkj.jpg" alt="">
               <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1fgdq4vofa4j31jk0ddadd.jpg" alt="">
            </div>
          </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
