// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*============波浪分割线====*/
.decor-top2 {
  height: 6em;
  margin-bottom: -84px;
  fill: #d7dbcc;
}


.decor-bottom2 {
  height: 7em;
  margin-top: -7em;
  fill: #f6f3e1;
}

.decor-bottom1 {
  height: 7em;
  margin-top: -20em;
  fill: black;
}

.decor-top8{
  height: 6em;
  margin-bottom: -84px;
  fill: #ffffff;
}
.decor-top5{
  height: 6em;
  margin-bottom: -84px;
  fill: #f6f3e1;
}
/*================波浪分割线==============*/

/*===== 1.网站头贴 ====*/


.welcome-top{
    background-color: #f6f3e1;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -1.4em;
}

.carousel-caption {
  padding: 0;
  // margin: 2px -120px 10px 0;
}

.carousel-control {
  text-shadow: 0 0 0 #999;
  width: 0;
  height: 0;
}
.carousel-control span:hover {
  color: #2dbe60;
}
#myCarousel {
  margin: 20px auto 20px auto;
  width: 100%;
}
.carousel-inner img {
  background: cover;
  position: center;
}
.carousel-indicators li {
  background-color: #fa9e81;
  border: none;
}
.carousel-indicators .active {
  background-color: #e8e8e8;
}
.carousel-indicators {
  bottom: 2em;
}
// #myCarousel .left span {
//   position: relative;
//   color: #e8e8e8;
//   font-size: 7em;
//   top: 1.7em;
// }
// #myCarousel .right span {
//   position: relative;
//   color: #e8e8e8;
//   font-size: 7em;
//   top: 1.7em;
// }

.intro-content02 > h1 {                     //海报01字体
    color: white;
    font-size: 85px;
    letter-spacing: 1px;
    font-family: 'Clicker Script', cursive;
    color: #ffffff;
    margin: 1em 0 1em 0;
}

.intro-content02 > p {
    color: #fff;
    font-size: 2em;
    letter-spacing: 0.5em;
    margin-top: 2em;
    text-align: center;
}

.intro-content03 > h1 {                     //海报02字体
    color: white;
    font-size: 85px;
    letter-spacing: 1px;
    font-family: 'Clicker Script', cursive;
    color: #ffffff;
    margin: 1em 0 1em 0;
}

.intro-content03 > p {
    color: #fff;
    font-size: 2em;
    letter-spacing: 0em;
    margin-top: 2em;
    text-align: center;
}

.intro-content04 > h1 {                     //海报01字体
    color: white;
    font-size: 65px;
    letter-spacing: 1px;
    font-family: 'Clicker Script', cursive;
    color: #ffffff;
    margin: 1em 0 1em 0;
}

.intro-content04 > p {
    color: #fff;
    font-size: 1.5em;
//     letter-spacing: 0.5em;
    margin-top: 1em;
//     text-align: center;
}
/*============================= end 1.网站头贴 ============================*/

/*==================================== 2.铁粉说 ==============================*/
.say{
  background-color: #f6f3e1;
  padding-bottom: 6em;  }

  .box {
    background:#fff;
    transition:all 0.2s ease;
    border:2px dashed #dadada;
    margin-top: 10px;
    box-sizing: border-box;
    background-clip: padding-box;
    padding:0 20px 20px 20px;
    min-height: 50em;
    padding: 3em 0.7em;
    border-radius: 1em;
    box-shadow: 0.4em 0.3em 0.3em #666;
    width: auto;
  }

  .box:hover {
    border:0.2em solid #525C7A;
  }
  .box .box-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
  }
  .box .box-content p {
    color:#666;
    text-transform:none;
  }
  .tag-title {
      color: #666;
      font-size: 1.5em;
      text-transform: uppercase;
    }
  .box .small{
    width: 80%;
  }

  .button1{
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 10px auto;
    max-width: 8em;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    color: rgba(250, 250, 250, 0.6);
    box-shadow: rgba(250, 250, 250, 0.6) 0 0px 0px 2px inset;
    // font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
  }
  .button1:hover,
  .button1:focus {
    color: rgba(255, 84, 0, 1);
    box-shadow: rgba(255, 84, 0, 0.5) 0 0px 0px 4em inset;
    text-decoration: none;
  }


/*=============================  end 2. 服务块  ============================*/
.decor-top3 {
  height: 6em;
  margin-top: -6px;
  fill: #fff;
}
/*==================================== 3.产品块 ======================================*/
.pr{
  // background-color: #d7dbcc;
  padding: 2em;
  // margin: 10em;
}
.boxx {
  background:#fff;
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  background-clip: padding-box;
  min-height:340px;
  align: center;
  padding: 0.8em 0.7em;
  border-radius: 0 0 2px 2px;
}

.boxx:hover {
  border:6px solid #525C7A;
}

.boxx .boxx-title {
    color: #666;
    font-size: 1.2em;
    text-transform: uppercase;
}
/*======================================= end 3.产品块 =====================================*/

/*=========================================== 分割图 =====================================*/
.middle-photo2{
    height: 16em;
    background-image: url('https://ws2.sinaimg.cn/large/006tKfTcgy1ffvpt7lggmj31kw0cfwk6.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }


  /*============波浪分割线====*/
/*=========================================== 分割图 =====================================*/

/*=========================================  4.摄影区  ========================================*/

// body{
// 	background-image: radial-gradient(mintcream 0%, lightgray 100%);
// }
// h1{
// 	display: table;
// 	margin: 5% auto 0;
// 	text-transform: uppercase;
// 	font-family: 'Anaheim', sans-serif;
// 	font-size: 4em;
// 	font-weight: 400;
// 	text-shadow: 0 1px white, 0 2px black;
// }
.ph{
  // background-image: url('http://ww2.sinaimg.cn/large/006tNbRwly1ffop4373gwj31kw0w0kjo.jpg');
  background-color: #f6f3e1;
  padding: 0.1em;
}
.container1{
	margin: 6% auto;
	width: 24em;  //图片大小&图片间隔宽度
	height: 13em;  //视角
	position: relative;
	perspective: 55em;
}
#carousel1{
	width: 100%;
	height: 200%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel1:hover{
	animation-play-state: paused;
}
#carousel1 figure{
	display: block;
	position: absolute;
	width: 90%;
	height: 50%;
	left: 10px;
	top: 10px;
	background: #ffffff;
	overflow: hidden;
	border: solid 8px #ffffff;
}
#carousel1 figure:nth-child(1) {transform: rotateY(0deg) translateZ(288px);}
#carousel1 figure:nth-child(2) { transform: rotateY(60deg) translateZ(288px);}
#carousel1 figure:nth-child(3) { transform: rotateY(120deg) translateZ(288px);}
#carousel1 figure:nth-child(4) { transform: rotateY(180deg) translateZ(288px);}
#carousel1 figure:nth-child(5) { transform: rotateY(240deg) translateZ(288px);}
#carousel1 figure:nth-child(6) { transform: rotateY(300deg) translateZ(288px);}
// #carousel1 figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
// #carousel1 figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
// #carousel1 figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
	// -webkit-filter: grayscale(1);  //会变成黑白的
	cursor: pointer;
	transition: all .5s ease;
}
// img:hover{
// 	// -webkit-filter: grayscale(0);
//   // transform: scale(1.2,1.2);        //动态效果
// }

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
/*=================================== end 4.摄影区 =====================================*/

/*=================================== 5.铁粉说 ==================================*/
.say{
  background-color: #d7dbcc;
  // padding: 1em;
  .do-box{
    img{
      margin-bottom: 2em;
      width: 10em;
    }
  }

  .say{
    text-align: center;
    background-color: #d7dbcc;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
  }
}






/*============================================ product#show ===================================================*/



// **********************************整个页面
.product-page {
  margin-bottom: 60px;
}


.product-page .tab-content .tab-pane .text {
  letter-spacing: 2px;
  line-height: 26px;
}

.product-page .product .description {
  height: 260px;
  overflow: hidden;
  display: block;
  border-bottom: 1px solid #999;
  padding: 0 10px;
}

.product-page .product .description.in {
  height: auto;
  border-bottom-color: transparent;
}


// **********************************上半页

//上半页总体
.product-header {
  background-image: url('http://ooz9ucbbf.bkt.clouddn.com/product%20background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;

//产品首图
.product-image img {
    width: 90%;
    box-shadow: 0 29px 32px -20px rgba(0,0,0,0.5);
    margin: 20px auto;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 20px;
  }
}

//付款模块的字体等
.pay-area {
  .product-name {
    margin-bottom: 0;
    padding-bottom: 15px;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .tagline {
    color: #d3e8ff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

   h5.tagline {
    font-size: 16px;
  }

  .product-price {
    font-size: 2.5em;
    color: #d13636;
    font-weight: bold;

   .tab-content {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
  .tab-content>.active {
      display: block;
  }
  }
}

// **********************************下半页

.profile-page {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
    background: #FFFFFF;
    position: relative;
    z-index: 3;
}

.profile-tabs {
    margin-top: 60px;
    padding:70px 0;
}



//小目录

.nav-pills.nav-pills-info>li.active>a, .nav-pills.nav-pills-info>li.active>a:focus, .nav-pills.nav-pills-info>li.active>a:hover {
    background-color: #03a9f4;
    box-shadow: 0 16px 26px -10px rgba(3,169,244,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(3,169,244,0.2);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #9c27b0;
    color: #FFFFFF;
    box-shadow: 0 16px 26px -10px rgba(156,39,176,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(156,39,176,0.2);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #337ab7;
}

.nav-pills>li>a {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #555555;
    transition: all 0.3s;
    text-align: -webkit-center;
}


.nav-pills>li i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
    margin-bottom: 25px;
}
//
.nav-pills>li i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}

a .material-icons, a:hover .material-icons, a:focus .material-icons {
    vertical-align: middle;
}

// .material-icons, .mi {
//     font-family: 'Material Icons';
//     font-weight: normal;
//     font-style: normal;
//     font-size: 24px;
//     display: inline-block;
//     width: 1em;
//     height: 1em;
//     line-height: 1;
//     text-transform: none;
//     -webkit-font-smoothing: antialiased;
//     text-rendering: optimizeLegibility;
//     -moz-osx-font-smoothing: grayscale;
//     font-feature-settings: 'liga';
// }



// 下半部分的具体内容


.review {
  padding:200px;
}
