// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*============================ 通用 ========================*/
.a {                                        //所有模块的高度和背景尺寸
    height: 73em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15em;
}

.index-menu {                                 //菜单栏的设置
  position: fixed;
  right: 6em;
  top: 50%;
  width: 66px;
  height: 376px;
  margin-top: -188px;
  bottom: 2em;
  display: table;
  img {
    width: 55px;
  }
}



/*=================================== 1.网站头贴 =============================*/

.intro{
    background-image: url('https://ws4.sinaimg.cn/large/006tKfTcgy1fg6vedeok3j31hc12dwk9.jpg');
    // position: fixed;
  }


/*==================================== 2.铁粉说 ==============================*/
.say{
    background-image: url('https://ws3.sinaimg.cn/large/006tKfTcgy1fg6veftr6vj31hc12ddpf.jpg');
  }

  .box {
    background:#fff;
    transition:all 0.2s ease;
    border:2px dashed #dadada;
    margin-top: 10px;
    box-sizing: border-box;
    background-clip: padding-box;
    padding:0 20px 20px 20px;
    min-height: 50em;
    padding: 3em 0.7em;
    border-radius: 1em;
    box-shadow: 0.4em 0.3em 0.3em #666;
    width: auto;
  }

  .box:hover {
    border:0.2em solid #525C7A;
  }
  .box .box-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
  }
  .box .box-content p {
    color:#666;
    text-transform:none;
  }
  .tag-title {
      color: #666;
      font-size: 1.5em;
      text-transform: uppercase;
    }
  .box .small{
    width: 80%;
  }

  .button1{
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 10px auto;
    max-width: 8em;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    color: rgba(250, 250, 250, 0.6);
    box-shadow: rgba(250, 250, 250, 0.6) 0 0px 0px 2px inset;
    // font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
  }
  .button1:hover,
  .button1:focus {
    color: rgba(255, 84, 0, 1);
    box-shadow: rgba(255, 84, 0, 0.5) 0 0px 0px 4em inset;
    text-decoration: none;
  }

/*=================================== 3.产品 ================================*/
.product{
    background-image: url('https://ws2.sinaimg.cn/large/006tNbRwgy1fg6ve7t1q9j31hc12dag9.jpg');
  }

  .boxx {
    background:#fff;
    transition:all 0.2s ease;
    // border:2px dashed #dadada;
    margin-top: 10px;
    box-sizing: border-box;
    background-clip: padding-box;
    min-height: 30em;
    // align: center;
    padding: 3em 0.7em;
    border-radius: 1em;
    box-shadow: 0.4em 0.3em 0.3em #666;
    width:80%;
  }

  .boxx:hover {
    border:0.2em solid #525C7A;
  }

  .boxx-title {
    padding: 1.5em;
      color: white;
      font-size: 1.5em;
      text-transform: uppercase;
    }

    //==========按钮
.button2{
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 10px auto;
  max-width: 8em;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  color: rgba(250, 250, 250, 0.6);
  box-shadow: rgba(250, 250, 250, 0.6) 0 0px 0px 2px inset;
  // font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
.button2:hover,
.button2:focus {
  color: rgba(255, 84, 0, 1);
  box-shadow: rgba(255, 84, 0, 0.5) 0 0px 0px 4em inset;
  text-decoration: none;
}
//===================按钮

 /*=================================== 4.摄影 ===============================*/
.photo{
    background-image: url('https://ws4.sinaimg.cn/large/006tKfTcgy1fg6vedeok3j31hc12dwk9.jpg');
  }






/*============================================ product#show ===================================================*/



// **********************************整个页面
.product-page {
  margin-bottom: 60px;
}


.product-page .tab-content .tab-pane .text {
  letter-spacing: 2px;
  line-height: 26px;
}

.product-page .product .description {
  height: 260px;
  overflow: hidden;
  display: block;
  border-bottom: 1px solid #999;
  padding: 0 10px;
}

.product-page .product .description.in {
  height: auto;
  border-bottom-color: transparent;
}


// **********************************上半页

//上半页总体
.product-header {
  background-image: url('http://ooz9ucbbf.bkt.clouddn.com/product%20background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;

//产品首图
.product-image img {
    width: 90%;
    box-shadow: 0 29px 32px -20px rgba(0,0,0,0.5);
    margin: 20px auto;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 20px;
  }
}

//付款模块的字体等
.pay-area {
  .product-name {
    margin-bottom: 0;
    padding-bottom: 15px;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .tagline {
    color: #d3e8ff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

   h5.tagline {
    font-size: 16px;
  }

  .product-price {
    font-size: 2.5em;
    color: #d13636;
    font-weight: bold;

   .tab-content {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
  .tab-content>.active {
      display: block;
  }
  }
}

// **********************************下半页

.profile-page {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
    background: #FFFFFF;
    position: relative;
    z-index: 3;
}

.profile-tabs {
    margin-top: 60px;
    padding:70px 0;
}



//小目录

.nav-pills.nav-pills-info>li.active>a, .nav-pills.nav-pills-info>li.active>a:focus, .nav-pills.nav-pills-info>li.active>a:hover {
    background-color: #03a9f4;
    box-shadow: 0 16px 26px -10px rgba(3,169,244,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(3,169,244,0.2);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #9c27b0;
    color: #FFFFFF;
    box-shadow: 0 16px 26px -10px rgba(156,39,176,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(156,39,176,0.2);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #337ab7;
}

.nav-pills>li>a {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #555555;
    transition: all 0.3s;
    text-align: -webkit-center;
}


.nav-pills>li i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
    margin-bottom: 25px;
}
//
.nav-pills>li i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}

a .material-icons, a:hover .material-icons, a:focus .material-icons {
    vertical-align: middle;
}

// .material-icons, .mi {
//     font-family: 'Material Icons';
//     font-weight: normal;
//     font-style: normal;
//     font-size: 24px;
//     display: inline-block;
//     width: 1em;
//     height: 1em;
//     line-height: 1;
//     text-transform: none;
//     -webkit-font-smoothing: antialiased;
//     text-rendering: optimizeLegibility;
//     -moz-osx-font-smoothing: grayscale;
//     font-feature-settings: 'liga';
// }



// 下半部分的具体内容
.profile {
    text-align: center;
    img {
        max-width: 160px;
        margin: -80px auto 0;
    }
}

.profile-page .gallery {
    margin-top: 45px;
    padding-bottom: 50px;

    img {
        width: 100%;
        margin-bottom: 30px;
    }
}


.img-raised {
    box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
}

.img-circle {
    border-radius: 50%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
