// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.decor-top {
  height: 6em;
  margin-top: -84px;
  fill: #fff;
}


/*===== 1.网站头贴 ====*/
.intro{
    height: 50em;
    background-image: url('http://ww2.sinaimg.cn/large/006tNbRwly1ffop4373gwj31kw0w0kjo.jpg');
    background-size: cover;
  }

.intro-content > h1 {
    color: #fff;
    font-size: 55px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
    word-spacing: 6px;
    font-family: STHeiti Light;
    font-weight: bold;
}

.intro-content > p {
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: STHeiti Light;
}
/*===== end 1.网站头贴 ====*/

/*===== 2.服务优势 ====*/
.our-service{
  text-align: center;
  background-size: cover;
  padding-left: 50px;
  padding-right: 50px;

  .do-box{
    img{
      margin-top: 35px;
      margin-bottom: -35px;
      width: 180px;
    }
  }

  .do-box p {
      color: #666;
      letter-spacing: 1px;
      line-height: 22px;
      margin: 25px 20px 40px 20px;
  }
}
/*===== end 2.服务优势 ====*/

/*===== 3.铁粉说 ====*/
.showing{
  background-color: #EFEFEF;
    p{
      color: black;
      letter-spacing: 1px;
      line-height: 22px;
      margin: -10px 20px -20px 10px;
      padding: 10px;
    }
}

.carousel-caption {
  padding: 0;
  margin: 2px -120px 10px 0;
}

.carousel-control {
  text-shadow: 0 0 0 #999;
  width: 0;
  height: 0;
}
.carousel-control span:hover {
  color: #2dbe60;
}

#myCarousel {
  margin: 20px auto 20px auto;
  width: 100%;

}
.carousel-inner img {
  max-height: 300px;
  width: 180px;
}
.carousel-indicators li {
  background-color: #fa9e81;
  border: none;
}
.carousel-indicators .active {
  background-color: #e8e8e8;
}
.carousel-indicators {
  bottom: -55px;
}
#myCarousel .left span {
  position: relative;
  top: 30px;
  left: -50px;
  color: black;
  font-size: 7rem;
}
#myCarousel .right span {
  position: relative;
  top: 30px;
  right: -20px;
  color: black;
  font-size: 7rem;
}

/*===== end 3.铁粉说 ====*/
